* {

  margin: 12px;
  padding: 0;
}

body {
  background-image: url(PurpleMarble.jpg);
  margin: 12px;
  padding: 1px 0px 1px 0px;
}

ul {
  font-size: 20px;

}

li {

}

li a {

}

a:hover {
  color: black;
;

}

h1 {
  text-align: center;
}

h1, p {
  border: 2px solid black;
}
